*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.work-content-news, .work-content-dev{
    text-align: left;
}
.hero{
    width:100%;
    color:#fff;
    background-size:cover;
    background-position:center;
    padding:50px 8%;
}

.hero-container{
    display:grid;
    grid-template-columns:1fr 1.3fr 1fr;
    align-items:center;
    gap:40px;
}

/* LEFT */

.leader-image{
    width:100%;
    max-width:380px;
}

/* CENTER */

.hero-center h1{
    font-size:52px;
    line-height:1.2;
    margin-bottom:15px;
    text-align: left;
    font-weight:700;
}

.hero-center h1 span{
    color:#fff;
}

.hero-center p{
    color:#e6e6e6;
    margin-bottom:20px;
    line-height:28px;
    text-align: left;
}

.vision-box{
    border-left:4px solid #4CAF50;
    padding-left:20px;
    margin-bottom:25px;
}

.vision-box h4{
    margin-bottom:10px;
    color:#8dff8d;
    text-align: left;
   
}

.hero-center button{
    background:#fff;
    color:#0046a8;
    border:none;
    padding:12px 28px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.hero-center button:hover{
    transform:translateY(-3px);
}

/* RIGHT */

.hero-right{
    display:flex;
    align-items:center;
}

.flag{
    width:220px;
    height: 320px;
    margin-bottom:20px;
}

@media(max-width:768px){
    .hero-right{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.flag{
    width:auto;
    margin-bottom:20px;
}

.section-header h3 {
  
    font-size: 23px;
}

.service-card h5{
    font-size:14px;

}
.service-card p{
    font-size:12px;
}

.card-top h4{
    font-size:18px;
}

}



.profile-card{
    width:260px;
    background:#fff;
    color:#222;
    border-radius:18px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.profile-card span{
    color:#777;
    display:block;
    margin:10px 0;
}

.profile-card h2{
    color:#0046a8;
    font-size:24px;
    margin:20px 0;
}

.socials{
    display:flex;
    justify-content:center;
    gap:15px;
    font-size:20px;
}

.facebook{
    color:#1877F2;
}

.twitter{
    color:#1DA1F2;
}

.instagram{
    color:#E4405F;
}

.youtube{
    color:#FF0000;
}


.foot-facebook{
    background-color: #1877F2;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
}
.foot-twitter{
    background-color: #1DA1F2;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
}

.foot-instagram{
    background-color:#E4405F;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
}

.foot-youtube{
    background-color: #FF0000;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
}



/* STATS */

.stats{
    width:90%;
    margin:-35px auto 0;
    background:#fff;
    border-radius:18px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    overflow:hidden;
}

.stat-card{
    padding:30px;
    text-align:center;
    border-right:1px solid #eee;
}

.stat-card:last-child{
    border-right:none;
}

.icon{
    font-size:40px;
    margin-bottom:15px;
}

.blue{
    color:#0057d9;
}

.green{
    color:#28a745;
}

.orange{
    color:#ff9800;
}

.purple{
    color:#7c3aed;
}

.stat-card h2{
    color:#222;
    margin-bottom:8px;
}

.stat-card p{
    color:#777;
}

/* Responsive */

@media(max-width:992px){

.hero-container{
    grid-template-columns:1fr;
    text-align:center;
}

.leader-image{
    margin:auto;
}

.vision-box{
    border:none;
    padding:0;
}

.stats{
    grid-template-columns:repeat(2,1fr);
    margin-top:20px;
}

}

@media(max-width:576px){

.hero-center h1{
    font-size:34px;
}

.stats{
    grid-template-columns:1fr;
}

.profile-card{
    width:100%;
}

}

/* =========================
   QUICK SERVICES
========================= */

.quick-services{
    width:90%;
    margin:30px auto;
    background:#fff;
    border-radius:18px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.section-header{
    margin-bottom:20px;
}

.section-header h3 {
    color: #0057d9;
    font-size: 25px;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
}

.service-card{
    border:1px solid #eee;
    border-radius:12px;
    padding:20px 10px;
    text-align:center;
    transition:.3s;
    cursor:pointer;
}

.service-card:hover{
    transform:translateY(-5px);
}


.service-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 10px;
    color:#fff;
    font-size:20px;
}

.service-card h5{
    font-size:17px;
    margin-bottom:5px;
    color:#222;
}



.service-card p{
    font-size:13px;
    color:#777;
}

/* =========================
   DASHBOARD
========================= */

.dashboard-section{
    width:90%;
    margin:25px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.dashboard-card{
    background:#fff;
    border-radius:18px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.card-top h4{
    font-size:20px;
    color:#222;
}

.card-top a{
    text-decoration:none;
    color:#0057d9;
    font-size:13px;
    font-weight:600;
}

.list-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 0;
    border-bottom:1px solid #eee;
}

.list-item:last-child{
    border-bottom:none;
}

.list-item h6{
    margin-bottom:4px;
    font-size:16px;
    color:#222;
}
@media(max-width:768px){
    .list-item h6{
      font-size:15px;  
    }
}



.list-item small{
    color:#777;
}

.status{
    background:#e8f8ec;
    color:#28a745;
    padding:4px 10px;
    border-radius:20px;
    font-size:11px;
    font-weight:600;
}

/* =========================
   EVENTS
========================= */

.event-item{
    display:grid;
    grid-template-columns:60px 1fr auto;
    gap:12px;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.event-date{
    text-align:center;
}

.event-date span{
    font-size:11px;
    color:#777;
    display:block;
}

.event-date h5{
    font-size:24px;
    color:#222;
}

.event-info h6{
    margin-bottom:4px;
    color:#222;
}

.event-info small{
    color:#777;
}

.event-time{
    font-size:12px;
    color:#555;
}

.view-events-btn{
    width:100%;
    margin-top:15px;
    border:1px solid #0057d9;
    background:#fff;
    color:#0057d9;
    padding:12px;
    border-radius:10px;
    font-weight:600;
    cursor:pointer;
}

/* =========================
   STAY CONNECTED
========================= */

.stay-connected{
    width:100%;
    background:#0057d9;
    color:#fff;
    padding:20px 5%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:30px;
}

.stay-left{
    text-align:center;
}

.stay-left h4{
    margin-bottom:5px;
}

.stay-left p{
    font-size:14px;
}

.stay-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.whatsapp-btn{
    background:#25D366;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.footer-socials{
    display:flex;
    gap:15px;
    font-size:33px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){

    .service-grid{
        grid-template-columns:repeat(3,1fr);
    }

    .dashboard-section{
        grid-template-columns:1fr;
    }
}

@media(max-width:768px){

    .service-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .stay-connected{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .stay-right{
        flex-direction:column;
    }
}

@media(max-width:576px){

    .service-grid{
        grid-template-columns:1fr;
    }

    .event-item{
        grid-template-columns:50px 1fr;
    }

    .event-time{
        display:none;
    }
}


.work-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.work-img{
    width:85px;
    height:85px;
    object-fit:cover;
    border-radius:6px;
    flex-shrink:0;
}

.work-content h6{
    margin:0;
    font-size:14px;
    font-weight:600;
}

.work-content small{
    color:#777;
}

